@model Ergasia2mvc.Models.AddProfessorViewModel

@if (ViewBag.flag == true)
{
    <script>
        alert('@ViewBag.AlertMessage');
    </script>
}

<h1 class="mb-3">Add Professor</h1>

<div>
    <form method="post" action="AddProfessor">
        <div class="mb-3">
            <label for="" class="form-label">AFM</label>
            <input type="text" class="form-control" placeholder="ex. 1234567890 (AFM must be 10 digits)" asp-for="AFM">
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Name</label>
            <input type="text" class="form-control" placeholder="ex. Theodora (Name must be letters only)" asp-for="Name">
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Surname</label>
            <input type="text" class="form-control" placeholder="ex. Doriza (Surname must be letters only)" asp-for="Surname">
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Department</label>
            <input type="text" class="form-control" placeholder="ex. CS (Department must be letters only)" asp-for="Department">
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Username</label>
            <input type="text" class="form-control" placeholder="ex. theodora123 (Username must NOT contain symbols)" asp-for="ProfessorUsername">
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Password</label>
            <input type="text" class="form-control" placeholder="ex. 12345" asp-for="Password">
        </div>

        <input type="hidden" class="form-control" value="@ViewBag.Secname" asp-for="secName">

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>